h1 {
  font-family: 'Abril Fatface';
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

.form-group {
  width: 100%;
  max-width: 400px;
}

.btn-group-toggle {
  padding-top: 6px;
  padding-bottom: 36px;
}

.btn {
  margin-bottom: 30px;
}

.homeAndAdd {
  padding-top: 7px;
}